<section class="banner shop">
    <div class="container">
        <div class="morepage-banner">
            <h2 class="title">Edition d'une ferme</h2>
        </div>
    </div>
</section>
<%= render 'form', farm: @farm %>

<%= link_to 'Show', @farm %> |
<%= link_to 'Back', farms_path %>
