<section class="banner shop" style="background-image: url(<%= @farm.background_image %>);">
    <div class="container">
        <div class="morepage-banner">
            <h2 class="title">Edition d'une ferme</h2>
        </div>
    </div>
</section>
<section class="container-padding">

<%= render 'form', farm: @farm %>

<%= link_to 'Show', @farm %> |
<%= link_to 'Back', farms_path %>
</section>