<section class="banner shop" style="background-image: url('http://i.imgur.com/qnH1Efi.jpg')">
    <div class="container">
        <div class="morepage-banner">
            <h2 class="title">Nouvelle ferme</h2>
        </div>
    </div>
</section>
<section class="container-padding">
<%= render 'form', farm: @farm %>

<%= link_to 'Back', farms_path %>
</section>
