                <!-- MAIN CONTENT-->
                <div class="main-contents">
                    <!-- Slider-->
                    <section class="banner contact" style="background-image: url('http://i.imgur.com/nnoNCiG.jpg') ">
                        <div class="container">
                            <div class="morepage-banner">
                                <h2 class="title">A propos</h2>
                                <ol class="breadcrumb">
                                    <li><a href="/" class="link">Home</a></li>
                                    <li class="active"><a href="#" class="link">A propos</a></li>
                                </ol>
                            </div>
                        </div>
                    </section>
                   
                    
                    <!-- Customer-->
                    <section class="banner customer-review padding-top-100 padding-bottom-100">
                        <div class="container">
                            <div class="main-titles white">
                                <h1 class="title">A propos</h1></div>
                            <div class="list-customer-review">
                                <div class="item">
                                    <div class="customer">
                                        <div class="gamba-circles-2">
                                            <div class="circle"></div>
                                            <div class="circle"></div>
                                            <div class="circle"></div>
                                        </div>
                                        <div class="customer-info">
                                            <div class="icons">"</div>
                                            <div class="description">Mettre en relation des producteurs avec des consomateurs avertis pour favoriser le commerce de proximité</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="customer">
                                        <div class="gamba-circles-2">
                                            <div class="circle"></div>
                                            <div class="circle"></div>
                                            <div class="circle"></div>
                                        </div>
                                        <div class="customer-info">
                                            <div class="icons">"</div>
                                            <div class="description">Découvrir de nouveaux produits de saison et participer au respect de l'environnement</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="customer">
                                        <div class="gamba-circles-2">
                                            <div class="circle"></div>
                                            <div class="circle"></div>
                                            <div class="circle"></div>
                                        </div>
                                        <div class="customer-info">
                                            <div class="icons">"</div>
                                            <div class="description">Développer la visibilité des petits agriculteurs et réduire les intermédiaires</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- our team-->
                    <section class="our-team padding-top-100 padding-bottom-100">
                        <div class="container">
                            <div class="main-titles">
                                <h1 class="title">les membres de l'equipe</h1></div>
                            <div class="main-content">
                                <div class="grid-block-2">
                                    <div class="grid-item grid-1">
                                        <div class="block-3">
                                            <div class="block-image"><img src="<%= asset_path 'teams/image-1.jpg' %>" alt="" class="img-full">
                                                <a href="#" class="link"></a>
                                            </div>
                                            <div class="block-content"><a href="blog-detail.html" class="title">EQUIPE COMMUNICATION</a>
                                                <div class="description">
                                                    <p class="text">Margot Grenié<br>Anais Maupin</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-item grid-2">
                                        <div class="block-3 style-2">
                                            <div class="block-content"><a href="blog-detail.html" class="title">EQUIPE DEVELOPPEMENT</a>
                                                <div class="description">
                                                    <p class="text">Jérémy Pichard<br>Nino Tressayet<br>Mathias Fratani<br>Noémi Lamane </p>
                                                </div>
                                            </div>
                                            <div class="block-image"><img src="<%= asset_path 'teams/image-2.jpg' %>" alt="" class="img-full">
                                                <a href="#" class="link"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="grid-item grid-2">
                                        <div class="block-3 style-2">
                                            <div class="block-image"><img src="<%= asset_path 'teams/image-3.jpg' %>" alt="" class="img-full">
                                                <a href="#" class="link"></a>
                                            </div>
                                            <div class="block-content"><a href="blog-detail.html" class="title">EQUIPE DESIGN</a>
                                                <div class="description">
                                                    <p class="text">Sara-Lou Gallet<br>Camille Arnaud<br>Inès Le Buhan</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
    </body>

</html>