
    <!-- Slider-->
    <section class="background-slide">
        <div class="slide-item"><img src="<%= asset_path 'background-full/headerp.jpg' %>" alt="" data-parallax="{&quot;y&quot;: 200}" class="img-responsive img-background">
            <div class="container">
                <div class="homepage-banner-warpper">
                    <div class="homepage-banner-content">
                        <div class="group-title fadeInDown"><img src="<%= asset_path 'more-image/icon-1.png'%>" alt="" class="logo-image">
                            <h1 class="title">La poire en Deux</h1>
                            <h2 class="subtitle">De la fourche à la fourchette</h2></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About us-->
    <section class="about-us padding-top-100 padding-bottom-100">
        <div class="container">
            <div class="main-titles">
                <h1 class="title">Le principe</h1></div>
            <div class="main-content">
                <div class="about-us-wrapper">
                    <div class="about-left">
                        <div data-wow-delay="0.8s" class="block-icon-1 wow fadeInLeft">
                            <div class="table-cell">
                                <div class="gamba-circles">
                                    <div class="circle"></div>
                                    <div class="circle"></div>
                                    <div class="circle"></div>
                                    <div class="circle"></div>
                                </div><i class="icons flaticon-broccoli"></i></div>
                            <div class="table-cell">
                                <h4 class="title">Produits locaux</h4>
                                <p class="description">Des légumes, des fruits et du fromages venus tout droit des exploitations de la région. </p>
                            </div>
                        </div>
                        <div data-wow-delay="1.3s" class="block-icon-1 wow fadeInLeft">
                            <div class="table-cell">
                                <div class="gamba-circles">
                                    <div class="circle"></div>
                                    <div class="circle"></div>
                                    <div class="circle"></div>
                                    <div class="circle"></div>
                                </div><i class="icons flaticon-lemon"></i></div>
                            <div class="table-cell">
                                <h4 class="title">0 intermédiaire</h4>
                                <p class="description">Avec la Poire en Deux, les producteurs et les consommateurs sont les deux maillons de cette chaîne si habituellement longue.</p>
                            </div>
                        </div>
                    </div>
                    <div data-wow-delay="0.3s" class="about-center wow zoomIn"><img src="<%= asset_path 'more-image/about-us-1.jpg' %>" alt="" class="img-responsive"></div>
                    <div class="about-right">
                        <div data-wow-delay="0.8s" class="block-icon-1 wow fadeInRight">
                            <div class="table-cell">
                                <div class="gamba-circles">
                                    <div class="circle"></div>
                                    <div class="circle"></div>
                                    <div class="circle"></div>
                                    <div class="circle"></div>
                                </div><i class="icons flaticon-groceries"></i></div>
                            <div class="table-cell">
                                <h4 class="title">Agriculteurs de la région</h4>
                                <p class="description"> Profitez de produits saisonniers en favorisant le commerce local et en étant solidaire des petits producteurs français. </p>
                            </div>
                        </div>
                        <div data-wow-delay="1.3s" class="block-icon-1 wow fadeInRight">
                            <div class="table-cell">
                                <div class="gamba-circles">
                                    <div class="circle"></div>
                                    <div class="circle"></div>
                                    <div class="circle"></div>
                                    <div class="circle"></div>
                                </div><i class="icons flaticon-flour"></i></div>
                            <div class="table-cell">
                                <h4 class="title">Respect de l’environnement</h4>
                                <p class="description">La Poire en Deux travaille avec des producteurs aux pratiques respectueuses de l’environnement et des animaux.</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner 1-->
    <section class="banner-1"><img src="<%= asset_path 'background-full/choux.jpg'%>" alt="" class="img-bg-1">
        <div class="container">
            <div data-parallax="{&quot;y&quot;: 150}" class="banner-1-wrapper">
                <!--<h3 class="subtitle">eat better</h3>-->
                <h2 class="title">La boutique</h2>
                <p class="description">Choissisez les produits qui constituront votre pannier.</p><a href="#" class="btn btn-maincolor">Accedez à la boutique</a></div>
        </div>
    </section>
    <!-- our team-->
    <section class="our-team padding-top-100 padding-bottom-100">
        <div class="container">
            <div class="main-titles">
                <h1 class="title">Comment ça marche?</h1></div>
    
            <!-- Customer-->
    <section class="banner customer-review padding-top-100 padding-bottom-100">
        <div class="container">
            <div class="main-titles white">
                
            <div class="list-customer-review">
                <div class="item">
                    <div class="customer">
                        <div class="gamba-circles-2">
                            <div class="circle"></div>
                            <div class="circle"></div>
                            <div class="circle"></div>
                        </div>
                        <div class="customer-info">
                            <div class="icons">"</div>
                            <div class="name">Choisir un producteur</div>
                            <div class="description">Trouvez un producteur près de chez vous, découvrez ses valeurs, son exploitation, sa façon de travailler.</div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="customer">
                        <div class="gamba-circles-2">
                            <div class="circle"></div>
                            <div class="circle"></div>
                            <div class="circle"></div>
                        </div>
                        <div class="customer-info">
                            <div class="icons">"</div>
                            <div class="name">Réserver ses produits</div>
                            <div class="description">Sélectionnez les produits de votre choix, ajoutez les à votre panier et le tour est joué !</div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="customer">
                        <div class="gamba-circles-2">
                            <div class="circle"></div>
                            <div class="circle"></div>
                            <div class="circle"></div>
                        </div>
                        <div class="customer-info">
                            <div class="icons">"</div>
                            <div class="name">Récupérer son panier chez le producteur</div>
                            <div class="description">Choisissez un créneau horaire pour récupérer votre panier directement chez le producteur, payez-le en main propre et régalez vous ! </div>
                        </div>
                    </div>
                </div>
         
            </div>
        </div>
    </section>
        </div>
    </section>