<section class="banner shop">
    <div class="container">
        <div class="morepage-banner">
            <h2 class="title">Ajouter un produit</h2>
        </div>
    </div>
</section>
<%= render 'form', product: @product %>

<%= link_to 'Back', farm_path(@farm) %>
